<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maxim">
	<link rel="stylesheet" type="text/css" href="css/body.css">
	<link rel="stylesheet" type="text/css" href="/static/css/body.css">
	<title>Contact us</title>
</head>
<body>
<header class="header">
	<div class="logo"><img src="/imgs/logo.gif"></div>
	<div class="element"><a href="/" blank="blank">Home</a></div>
	<div class="element"><a href="/login" blank="blank">Login</a></div>
	<div class="element">
		<div class="dropdown">
			<button class="dropbutton">Coursers</button>
	  		<div class="dropdown-content">
	    	 <a href="#">HTML,CSS,JS</a>
	   		 <a href="#">Java</a>
	    	 <a href="#">C++</a>
	 		</div>
		</div>
	</div>
	<div class="element"><a href="" blank="blank">Donates</a></div>
</header>
<content class="content">
			<div class="contacts">
				<div class="contact">
					<h3 class="con_nazva">Gimli</h3>
					<img class="con_iqo" src="/imgs/contact1.jpg">
					<a href="https://t.me/dwarf_strong"><img class="icon" src="/imgs/telegram.png">
					<a href="https://api.whatsapp.com/send?phone=380980648928"><img class="icon" src="/imgs/whatsapp.jpg">
					<a href="mailto:serhio3347@gmail.com"><img class="icon" src="/imgs/email.png" alt="Пример">
					<a class="loh" href="tel:+380980648928"><img class="icon "src="/imgs/call.png"></a>
				</div>
				<div class="contact">
					<h3 class="con_nazva">Gimli</h3>
					<img class="con_iqo" src="/imgs/contact1.jpg">
					<a href="https://t.me/dwarf_strong"><img class="icon" src="/imgs/telegram.png">
					<a href="https://api.whatsapp.com/send?phone=380980648928"><img class="icon" src="/imgs/whatsapp.jpg">
					<a href="mailto:serhio3347@gmail.com"><img class="icon" src="/imgs/email.png" alt="Пример">
					<a class="loh" href="tel:+380980648928"><img class="icon "src="/imgs/call.png"></a>
				</div>
				<div class="contact">
					<h3 class="con_nazva">Gimli</h3>
					<img class="con_iqo" src="/imgs/contact1.jpg">
					<a href="https://t.me/dwarf_strong"><img class="icon" src="/imgs/telegram.png">
					<a href="https://api.whatsapp.com/send?phone=380980648928"><img class="icon" src="/imgs/whatsapp.jpg">
					<a href="mailto:serhio3347@gmail.com"><img class="icon" src="/imgs/email.png" alt="Пример">
					<a class="loh" href="tel:+380980648928"><img class="icon "src="/imgs/call.png"></a>
				</div>
			</div>
	<img class ="sauron"src="/imgs/sauron.jpg">
	<img class ="faramir "src="/imgs/Faramir.jpg">
</content>
<div class ="sidebar">
	<a class="link" href="/News">News</a>
	<a class="link" href="/Marks">Marks</a>
	<a class="link" href="/Contact_us">Contact us</a>
	<a class="link" href="/Faq">FAQ</a>
	<img class ="sidefon" src="/imgs/sidebar.jpg">
</div>
<footer class="footer">
	<div class="list">
		<h4>Structure</h4>
		<a href="/JS">MiddleEarth</a>
	    <a href="">Valinor</a>
	    <a href="">Valar</a>
	</div>
	<div class="list">
		<h4>Activities</h4>
		<a href="">Fellowship</a>
	    <a href="">Become a King</a>
	    <a href="">Mordor side</a>
	</div>
	<div blank ="blank" class="list">
		<h4>For rookies</h4>
		<a href="" blank="blank">Shir</a>
		<a href="" blank="blank">Travels</a>
		<a href="" >Tavern</a>
	</div>
	<div class="list">
		<h4>Useful links</h4>
		<a href="https://t.me/dwarf_strong"><img class="icon" src="/imgs/telegram.png">
		<a href="https://api.whatsapp.com/send?phone=380980648928"><img class="icon" src="/imgs/whatsapp.jpg">
		<a href="mailto:serhio3347@gmail.com"><img class="icon" src="/imgs/email.png" alt="Пример">
		<a class="loh" href="tel:+380980648928"><img class="icon "src="/imgs/call.png"></a>
	</div>
	<img class="fellowship" src="/imgs/foot.png">
</footer>
</body>
</html>
