<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maxim">
	<link rel="stylesheet" type="text/css" href="css/body.css">
	<link rel="stylesheet" type="text/css" href="/static/css/body.css">
	<title>News</title>
</head>
<body>
<header class="header">
	<div class="logo"><img src="imgs/logo.gif"></div>
	<div class="element"><a href="/" blank="blank">Home</a></div>
	<div class="element"><a href="/login" blank="blank">Login</a></div>
	<div class="element">
		<div class="dropdown">
			<button class="dropbutton">Coursers</button>
	  		<div class="dropdown-content">
	    	 <a href="#">HTML,CSS,JS</a>
	   		 <a href="#">Java</a>
	    	 <a href="#">C++</a>
	 		</div>
		</div>
	</div>
	<div class="element"><a href="" blank="blank">Donates</a></div>
</header>
<div class ="sidebar">
	<a class="link" href="/News">News</a>
	<a class="link" href="/Marks">Marks</a>
	<a class="link" href="/Contact_us">Contact us</a>
	<a class="link" href="/FAQ">FAQ</a>
	<img class ="sidefon" src="imgs/sidebar.jpg">
</div>
<content class="content">
	<img class ="sauron"src="imgs/sauron.jpg">
	<div class="news">
		<div class="new">
			<img src="imgs/new1.gif">
			<h3 class="caption">Osgiliath - Gondor</h3>
			<h5 class="date">Tuesday // 04 Oct 3162</h5>
			<p class="text">In general Gondors army recaptured city Osgiliath. This small, but so important victory crash all Mordor's plan to get forsed their army across a river. Casualties among the army of Gondor: 200+ death and more then 2000 wounded. Total casualties of Mordor's army: 4000+(But according to unconfirmed information more then 10K</p>
		</div>
		<div class="new">
			<img src="imgs/new2.png">
			<h3 class="caption">Elrond's council make fateful decide</h3>
			<h5 class="date">Saturday // 01 Oct 3162</h5>
			<p class="text">At last week Elrond's council decided, who join to the Ring's Fellowship and bring the ring to the top of Dooms Mountain. Representatives of all races choosed Frodo carrier of the Ring, and 8 other members of the Fellowship could help him. </p>
		</div>
		<div class="new">
			<img src="imgs/new3.jpg">
			<h3 class="caption">Dwarfes invented a new type of beer</h3>
			<h5 class="date">Monday // 03 Oct 3162</h5>
			<p class="text">Have you ever drinked dwarfs beer? I think, after this new, you take your clothes and ride to the Erebor as fast, as can. Dwarf engineers have teached how make beer not so bitter, and it taste like kvass. Also, new kind beer will contains much more ethanol, and alcohol level rises to 12%!!! </p>
		</div>
		<div class="new">
			<img src="imgs/new4.jpg">
			<h3 class="caption">Prices for renting flats in Hobiton rises</h3>
			<h5 class="date">Friday // 30 Sep 3162</h5>
			<p class="text">Previously many people, hobbits, rarely dwarfes, have been renting flats in Shir for so small prices. But now situation get changed. Cause Sauron's starting new bloody war, prices rises up for 200-300%!!! So new flat crisis in Middle Earth get starting and all houses or flats on the West will become more expensive.</p>
		</div>
	</div>
</content>
<footer class="footer">
	<div class="list">
		<h4>Structure</h4>
		<a href="/JS">MiddleEarth</a>
	    <a href="">Valinor</a>
	    <a href="">Valar</a>
	</div>
	<div class="list">
		<h4>Activities</h4>
		<a href="">Fellowship</a>
	    <a href="">Become a King</a>
	    <a href="">Mordor side</a>
	</div>
	<div blank ="blank" class="list">
		<h4>For rookies</h4>
		<a href="" blank="blank">Shir</a>
		<a href="" blank="blank">Travels</a>
		<a href="" >Tavern</a>
	</div>
	<div class="list">
		<h4>Useful links</h4>
		<a href="https://t.me/dwarf_strong"><img class="icon" src="imgs/telegram.png">
		<a href="https://api.whatsapp.com/send?phone=380980648928"><img class="icon" src="imgs/whatsapp.jpg">
		<a href="mailto:serhio3347@gmail.com"><img class="icon" src="imgs/email.png" alt="Пример">
		<a class="loh" href="tel:+380980648928"><img class="icon "src="imgs/call.png"></a>
	</div>
	<img class="fellowship" src="imgs/foot.png">
</footer>
</body>
</html>